:root {
    --background-color: #ffffff;
    --text-color: #040430;
    --over-table: #C6AFBF;
    --table: #A8C3FD;
}

.content-container {
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: var(--text-color);
}



.main-title {
    color: var(--text-color);
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.category {
    background-color: var(--table);
    border: var(--background-color);
    border-radius: 8px;
    /*padding: 15px;*/
    box-shadow: var(--text-color);
    width: 30%;
    height: fit-content;
}

.category a:hover {
    color: var(--dark-pink);
  }

.category h2 {
    background-color: var(--over-table);
    color: var(--text-color);
    font-size: 20px;
    /*margin: -15px -15px 10px -15px;*/
    margin: 0;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.category ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.category li {
    padding: 8px 8px;
    text-align: left;
    border-bottom: var(--background-color);
}

.category li:last-child {
    border-bottom: none;
}

.category p {
    color: var(--over-table);
    font-style: italic;
}

img {
    border-radius: inherit;
}