:root {
    --background-color: #ffffff;
    --text-color: #040430;
    --table-hover-bg: #C6AFBF;
    --button-bg: #040430;
    --form-bg: #A8C3FD;
    --input-text: #f0eded;
    --navbar-bg: #F2C6C2;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font: 1rem 'Fira Sans', sans-serif;
    color: var(--text-color);
    padding: 20px;
    padding-top: 50px;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    padding: 0 1em;
    box-sizing: border-box;
    z-index: 1000;
    margin-bottom: 1em;
}

h2 {
    margin-top: 20px;
}

.navbar > * {
    color: var(--text-color);
}

.navbar a {
    position: relative;
    text-decoration: none;
    margin: 0 2em;
    padding: .25em;
    font-weight: 600;
    font-size: 1rem;
}

button {
    font: 1rem 'Fira Sans', sans-serif;
    color: white;
    font-weight: 600;
    text-shadow: var(--button-bg);
    background-color: var(--button-bg);
    border: 1px solid var(--button-bg);
    border-radius: 5px;
    padding: 9px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

button:hover {
    background-color: var(--button);
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid var(--table-border);
    color: var(--text-color);
}

th {
    background-color: var(--table-hover-bg);
}

tr {
    background-color: var(--form-bg);
}

tr:hover {
    background-color: var(--table-hover-bg);
}

form {
    background-color: var(--form-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--text-color);
    margin-top: 20px;
}

select, textarea, input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 3px solid var(--table-hover-bg);
    background-color: var(--table-hover-bg);
    color: var(--input-text);
}

label {
    display: block;
    margin-bottom: 10px;
    color: var(--text-color);
}

.reglog-btn {
    color: var(--background-color);
    background-color: var(--button-bg);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

.reglog-btn:hover {
    background-color: var(--form-bg);
}

#contenido {
    width: 98.7%;
    height: 50px;
    padding: 8px;
    border-radius: 4px;
    border: 3px solid var(--table-hover-bg);
    background-color: var(--text-color);
    color: var(--input-text);
}

.not-btn {
    /* text-decoration: none; */
    color: var(--text-color);
    font-weight: bolder;
}

.add-report {
    display: none;
}

.report-title {
    margin-top: 20px;
    background-color: #C6AFBF;
}


.show {
    display: flex;
    justify-content: center;
}

.dropdown {
    width: 100%;
}

.dropdown::after {
    content:"\025bc";
}

.dropdown.active::after {
    content: "\025b2";
  }

.edit-btn:hover {
    cursor: none;
}

.edit-btn {
    cursor: none;
    user-select: none;
}

img {
    max-height: 120px;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.subcontent h2 {
    padding: 10px; 
}
