.sign-container {
    width: 600px;
    position: relative;
    padding-top: 2em;
}
.tab-container {
    display: flex;
    justify-content:flex-end;
    color: #FCB9B2;
    position: relative;
    right: 30px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #8C2F39;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    transition: background-color 0.3s;
    max-width: fit-content;
    max-height:min-content;
}

.tab.active {
    background-color: #461220;
    color: #FCB9B2;
}

.form-container {
    color: #B23A48;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    background-color: #461220;
}

form p {
    position: relative;
    max-width: 100%;
}

form {
    display: none;
}

form.active {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    flex-direction: column;
}

input[type="submit"] {
    background-color: #B23A48;
    color: #461220;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight:bold;
    position: relative;
    margin: 8px;
}

input[type="submit"]:hover {
    background-color: #6b7fd7;
}