:root {
    --background-color: #ffffff;
    --text-color: #040430;
    --boton: #C6AFBF;
    --register: #F2C6C2;
    --login: #A8C3FD;
}

.sign-container {
    width: 600px;
    position: relative;
    padding-top: 2em;
}
.tab-container {
    display: flex;
    justify-content:flex-end;
    color: var(--text-color);
    position: relative;
    right: 30px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: var(--register);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    transition: background-color 0.3s;
    max-width: fit-content;
    max-height:min-content;
}

.tab.active {
    background-color: var(--login);
    color: var(--text-color);
}

.form-container {
    color: var(--text-color);
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    background-color: var(--login);
}

form p {
    position: relative;
    max-width: 100%;
}

form {
    display: none;
}

form.active {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    flex-direction: column;
}

input[type="submit"] {
    background-color: var(--boton);
    color: var(--login);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight:bold;
    position: relative;
    margin: 8px;
    font: 1rem 'Inter', sans-serif;
}
/* 
input[type="submit"]:hover {
    background-color: var(--text-color);
}

.form-input {
    display: inline-block;
    justify-content: space-between;
} */

.form-group {
    display: flex;
    align-items: center;
    align-content: space-around;
    margin-bottom: 1em;
}

label {
    flex: 1; 
    max-width: 150px; 
    margin-right: 5em; 
}

input {
    flex: 2;
    border-radius: 2px;
}

.error {
    color: var(--text-color);
    font-size: smaller;
    margin-bottom: 1em; 
}