:root {
  --background-color: #ffffff;
  --text-color: #040430;
  --navbar-bg: #F2C6C2;
  --blue: #375cad;
  --darker-blue: #173983;
  --container-bg: #d5def3;
  --dark-pink: #d32398;
    --table-hover-bg: #C6AFBF;
    --button-bg: #040430;
    --form-bg: #A8C3FD;
    --input-text: #f0eded;
    --button: #112e6b;
    min-height: 100vh;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font: 1rem 'Inter', sans-serif;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* NAV BAR STUFF */

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg);
  /* border-radius: .25em; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  padding: 0 1em;
  box-sizing: border-box;
  z-index: 1000;
  /* margin-bottom: 1em; */
}

.navbar > * {
  color: var(--text-color);
}

.navbar a {
  color: var(--text-color);
  position: relative;
  text-decoration: none;
  margin: 0 2em;
  padding: .25em;
  font-weight: 700;
  font-size: large;
}

a {
  color: var(--text-color);
  position: relative;
  text-decoration: none;
  font-weight: 600;
}

.navbar a img {
  position: relative;
}

.profile-picture {
    max-height: 42px;
    padding: 0;
    margin: 0;
  vertical-align: bottom;
}

.navbar a:hover, a:hover {
  color: var(--blue);
}

.main-container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  /* padding: 15px; */
  margin-top: 4em;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--container-bg);
  border-radius: .25em;
  padding: 25px;
  margin: 15px;
  align-items: center;
  max-width: 70%;
  flex-wrap: nowrap;
}

.container a:hover {
  color: var(--dark-pink);
}

.container p {
  text-align: right;
}

.container h3, .reports-title {
  margin: 0;
}

.button {
  color: var(--background-color);
  font: 1rem 'Inter', sans-serif;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 9px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.reports {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}

.content, .subcontent {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.subcontent {
  background-color: var(--navbar-bg);
  border-radius: .25em;
}

.pagination-footer {
  width: 100%;
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -1px 5px rgba(0,0,0,0.2);
}
