{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<div class="navbar">
    <a href="{% url 'home' %}" style="font-size: x-large;">ESTADOBUXEF</a>
    <a href="{% url 'reports' %}" style="margin-right: auto;">Reportes</a>
    <div style="display:flex; align-items: center; justify-content: start">
        {% if user.is_authenticated %}
            <a style="display:flex; align-items: center" href="{% url 'user-profile' %}"> <img alt="profile picture" src="{{ user.estudiante.foto.url }}" class="image is-48x48 profile-picture is-rounded"/> {{ user.username }} </a>
            <a style="margin-left: auto" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'log-reg' %}">Login</a>
        {% endif %}
    </div>
</div>
<div class="main-container">
    {% block content %}{% endblock %}
</div>
    <script src="{% static 'js/utils.js' %}" type="text/javascript"></script>
{% block javascript %}      
{% endblock %}
</body>
</html>