<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="navbar">
      <h1> ESTADOBUXEF </h1>
            {% if usuario %}
                <a> {{usuario}} </a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
    </div>
    {% block content %}{% endblock %}
  </body>
</html>