{% extends 'base.html' %}

{% block title %} Menú principal {% endblock %}

{% block css %}
<!-- <link rel="stylesheet"
type="text/css"
href="{{ url_for('static', filename='css/'home.css)}}"> -->
{% endblock %}

{% block content %}
<div>
    <form>
        <div>
            <h1> ESTADOBUXEF </h1>
            {% if usuario %}
                <a> usuario </a>
            {% else %}
                <button type="button" id="login">
                    Login
                </button>
            {% endif %}
        </div>
        <div>
            <div>
                <h2>Últimos reportes</h2>
                <tr>
                    <th>Hora</th>
                    <th>Lugar</th>
                    <th>Suceso</th>
                </tr>
                {% if data %}
                    {% for reporte in data %}
                        <tr>
                            <td>{{reporte.hora}}</td>   
                            <td>{{reporte.lugar}}</td>  
                            <td>{{reporte.suceso}}</td>  
                        </tr>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <h2>Ingresar reporte</h2>
                {% if usuario %}
                    <div id="lugar">
                        <label>Lugar: </label>
                        <select id="lugares">
                            <option value="null">Seleccione lugar del suceso</option>
                        </select>
                    </div>
                    <div id="suceso">
                        <label>Suceso:</label>
                        <textarea></textarea>
                    </div>
                {% else %}
                    <h3>Para publicar reportes debe ingresar con su cuenta</h3>
                    <button type="button">Ingresar</button>
                    <h3>Si no posee una cuenta, debe registrarse</h3>
                    <button type="button">Registrarse</button>
                {% endif %}
            </div>
        </div>
    </form>
</div>


{% endblock %}