{% extends 'base.html' %}
{% load static %}
{% block title %} Menú principal {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div>
    <div>
        <div class="container">
            <h2>Últimos Reportes</h2>
            <table>
            <tr>
                <th>Hora</th>
                <th>Lugar</th>
                <th>Suceso</th>
            </tr>
            {% if reportes %}
                {% for reporte in reportes %}
                <tr>
                    <td>{{ reporte.hora }}</td>
                    <td>{{ reporte.lugar.nombre }}</td>
                    <td>{{ reporte.contenido }}</td>
                </tr>
                {% endfor %}
            {% endif %}
            </table>
            <a href="{% url 'reports' %}">Ver más</a>
        </div>
        <div>
            <h2>Ingresar Reporte</h2>
{#            {% if usuario %}#}
            <form method="post">
            {% csrf_token %}
                <div id="lugar">
                    <label for="lugar">Lugar: </label>
                    <select id="lugar" name="lugar">
                        <option value="null">Seleccione lugar del suceso</option>
                        {% for lugar in lugares %}
                            <option value={{ lugar.id }}>{{ lugar.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="suceso">
                    <label for="contenido">Suceso:</label>
                    <textarea id="contenido" name="contenido"></textarea>
                </div>
                <div >
                    <button type="submit">Enviar</button>
                </div>
            </form>
{#            {% else %}#}
                <h3>Para publicar reportes debe registrarse</h3>
                <a href="{% url 'log-reg' %}" class="reglog-btn">Registrarse</a>
{#            {% endif %}#}
        </div>
    </div>
</div>


{% endblock %}