{% extends 'base.html' %}

{% block title %} Menú principal {% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div>
    <div>
        <div>
            <h2>Últimos Reportes</h2>
            <tr>
                <th>Hora</th>
                <th>Lugar</th>
                <th>Suceso</th>
            </tr>
            {% if data %}
                {% for reporte in data %}
                <tr>
                        <td>{{reporte.hora}}</td>   
                        <td>{{reporte.lugar}}</td>  
                        <td>{{reporte.suceso}}</td>  
                    </tr>
                {% endfor %}
            {% endif %}
            <a href="{% url 'reports' %}">Ver más</a>
        </div>
        <div>
            <h2>Ingresar Reporte</h2>
            {% if usuario %}
            <form>
                <div id="lugar">
                    <label>Lugar: </label>
                    <select id="lugares">
                        <option value="null">Seleccione lugar del suceso</option>
                    </select>
                </div>
                <div id="suceso">
                    <label>Suceso:</label>
                    <textarea></textarea>
                </div>
                <div >
                    <button type="submit">Enviar</button>
                </div>
            </form>
            {% else %}
                <h3>Para publicar reportes debe registrarse</h3>
                <a href="{% url 'log-reg' %}">Registrarse</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}