{% extends 'base.html' %} 

{% load static %}

{% block title %} Ingresa {% endblock %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/sign.css' %}">
{% endblock %} 

{% block content %}
<div>
  <div class="sign-container">

    <div class="tab-container">
      <div class="tab {% if active_form %}active{% endif %}" data-target="#login-form">LOG IN</div>
      <div class="tab {% if not active_form %}active{% endif %}" data-target="#signup-form">REGISTER</div>
    </div>

    <div class="form-container">
      <form id="login-form" class="{% if active_form %}active{% endif %}" method="POST" novalidate>
        {% csrf_token %}
        <h2>Ingresa para mandar tu reporte</h2>
        {{login_form.as_p}}
        <input type="submit" value="Login" name="login_form"/>
      </form>

      <form id="signup-form" class="{% if not active_form %}active{% endif %}" method="POST" novalidate>
        {% csrf_token %}
        <h2>Regístrate para mandar tu reporte</h2>
        <p>{{ register_form.username.label }}: {{ register_form.username }}</p>
        <p>{{ register_form.email.label }}: {{ register_form.email }}</p>	
        <p>{{ register_form.password1.label }}: {{ register_form.password1 }}</p>	
        <p>{{ register_form.password2.label }}: {{ register_form.password2 }}</p>		
        <input type="submit" value="Register" name="signup_form"/>
      </form>
    </div>
    <!-- {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %} -->
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const tabs = document.querySelectorAll('.tab');
    const forms = document.querySelectorAll('form');
    
    tabs.forEach(tab => {
      tab.addEventListener('click', function() {
        tabs.forEach(t => t.classList.remove('active'));
        forms.forEach(f => f.classList.remove('active'));

        const target = document.querySelector(this.getAttribute('data-target'));

        this.classList.add('active');
        target.classList.add('active');
      });
    });
  });
</script>
{% endblock %}