{% extends 'base.html' %} 

{% load static %}

{% block title %} Registrate {% endblock %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/sign.css' %}">
{% endblock %} 

{% block content %}
<div class="container">

  <div class="tab-container">
    <div class="tab active" data-target="#login-form">Login</div>
    <div class="tab" data-target="#signup-form">Register</div>
  </div>

  <div class="form-container" id="log-form">
    <form id="login-form" class="active" method="POST" novalidate>
      {% csrf_token %}
      <h2>Ingresa para mandar tu reporte</h2>
      {{form.as_p}}
      <input type="submit" value="Login" />
    </form>
  </div>

  <div class="form-container" id="sign-form" style="display:none;">
    <form id="signup-form" method="POST" novalidate>
      {% csrf_token %}
      <h2>Regístrate para mandar tu reporte</h2>
      {{ form.as_p }}		
      <input type="submit" value="Register" />
    </form>
  </div>

</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const tabs = document.querySelectorAll('.tab');
    const forms = document.querySelectorAll('form');
    
    tabs.forEach(tab => {
      tab.addEventListener('click', function() {
        tabs.forEach(t => t.classList.remove('active'));
        forms.forEach(f => f.classList.remove('active'));
        
        let login = document.getElementById('log-form');
        let signin = document.getElementById('sign-form');

        const target = document.querySelector(this.getAttribute('data-target'));

        if (target.id == 'login-form') {
          login.style.display = 'block';
          signin.style.display = 'none';
        } 
        else {
          login.style.display = 'none';
          signin.style.display = 'block';
        }

        this.classList.add('active');
        target.classList.add('active');
      });
    });
  });
</script>
{% endblock %}