{% extends 'base.html' %}
{% block title %} Log in {% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<div class="container">
  <form method="post">
    <div id="username-input" class="grupo-input">
      <label for="username">Nombre de usuario</label>
      <input id="username" name="username" type="text" minlength="4" required />
    </div>
    <div id="contrasenna-input" class="grupo-input">
      <label for="contrasenna">Contraseña</label>
      <input id="contrasenna" name="contrasenna" type="password" required />
    </div>
    <div class="botones">
      <button type="submit" id="envio">Login</button>
    </div>
  </form>
  <div class="footer-form">
    ¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate</a>
  </div>
</div>
{% endblock %}