{% extends 'base.html' %} 
{% load static %}
{% block title %} Reportes {% endblock %} 
{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %} 
{% block content %}

    <h2>REPORTES</h2>
    <div class="reports">
        {% if data %}
            {% for reporte in data %}
            <div class="container">
                    <p class="foot">{{reporte.hora}}</p>
                    <h2>{{reporte.contenido}}</h2>
                    <p class="foot">{{reporte.lugar.nombre}}</p>
                    <!-- {% if reporte.foto %}
                    <p>{{reporte.foto}}</p>
                    {% endif %} -->
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <a class="button" href="{% url 'home' %}">Volver</a>
    </div>

{% endblock %} 