{% extends 'base.html' %} 
{% load static %}
{% block title %} Reportes {% endblock %} 
{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %} 
{% block content %}
<div>
    <div>
        <h2>Últimos Reportes</h2>
        {% if data %}
            {% for reporte in data %}
            <div class="container">
                    {{reporte.hora}}   
                    {{reporte.lugar}}  
                    {{reporte.suceso}}  
                    {% if reporte.foto %}
                    {{reporte.foto}}
                    {% endif %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <a class="button" href="{% url 'home' %}">Volver</a>
    </div>
</div>
{% endblock %} 